{% load static %}
<html>
    <head>
        <title>Meneetz</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      {% block content %}
      {% endblock %}
      <div id="content-wrapper">
    </div>
    </body>
    {% include 'footer.html' %}
</html>
